body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#total {
  margin: 2% 0;
}

#inCash, #outCash {
  margin-top: 3%;
}

.row {
  margin-top: 3%;
}

.col {
  /* border: 1px solid black; */
  margin: 3% 0% 4%;
  padding-top: 2%;
}

.container-div {
  margin-bottom: 15px;
}

.red {
  color: rgb(170, 0, 0);
}

.green {
  color: rgb(0, 222, 0);
}

.gray {
  color: black;
}